.chat-popover-trigger {
  position: fixed;
  bottom: 10px;
  right: 50px;
  z-index: 1000;
}

.chat-popover.ant-popover {
  width: 370px;
  z-index: 1001;
  height: 500px;
  position: fixed;
  bottom: 0px !important;
  right: 110px !important;
}

.chat-popover.ant-popover-content {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.chat-popover-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}

.chat-popover-content {
  height: 396px;
  overflow-y: auto;
  position: relative;
  top: 42px;
  margin-bottom: 80px;
}

.chat-popover-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: white;
}

.close-icon {
  cursor: pointer;
  font-size: 16px;
  color: #000;
}

.message-item {
  display: flex;
  align-items: flex-end;
  gap: 6px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.message-left {
  justify-content: flex-start;
}

.message-right {
  justify-content: flex-end;
}

.message-bubble {
  padding: 10px;
  border-radius: 15px;
  max-width: 60%;
}

.message-left-bubble {
  background-color: #f5f5f5;
  text-align: left;
}

.message-right-bubble {
  background-color: #87e8de;
  text-align: right;
}
