.profile-introduction-card {
  width: 100%;
}

.profile-introduction-item {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
}

.profile-introduction-icon {
  padding-right: 10px;
}

.profile-introduction-text {
  font-weight: bold;
  margin-left: 5px;
}

.update-profile-input {
  height: 20px;
  border-radius: 3px;
}

.date-of-birth {
  font-weight: bold;
  margin-left: 5px;
}
