.right-sidebar-card {
  height: 100vh;
  width: 350px;
  border-radius: 0%;
  position: fixed;
  top: 64px;
  overflow-y: auto;
  background-color: #f9f9f9;
  border: none;
  padding-top: 12px;
  padding-bottom: 42px;
}

.right-sidebar-card-item {
  display: flex;
  align-items: center !important;
  gap: 10px;
}
