.right-sidebar-card {
  height: 100%;
  width: 400px;
  border-radius: 0%;
  position: fixed;
  overflow-y: auto;
  background-color: #f5f5f5;
  border: none;
  padding-top: 12px;
}

.right-sidebar-card-item {
  display: flex;
  align-items: center !important;
  gap: 10px;
}
