.profile-page {
  display: flex;
  // overflow-y: auto;
  flex-direction: column;
  // height: 100vh;
}

.profile-page-layout-content {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 64px;
}

.profile-content {
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
}

@media (max-width: 991px) {
  .profile-content {
    margin-left: 0;
    margin-right: 0;
    width: 100% !important;
  }
}
