.home-page {
  display: flex;
  // overflow-y: auto;
  flex-direction: column;
  // height: 100vh;
}

.home-page-layout-content {
  display: flex;
  position: relative;
  // top: 64px;
}

.content {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ant-layout-sider {
  flex: 1;
}

@media (max-width: 1400px) {
  .ant-layout-sider {
    width: 150px !important;
  }

  .content {
    padding-left: 0;
    padding-right: 0;
    width: 100% !important;
  }
}

@media (max-width: 991px) {
  .ant-layout-sider {
    display: none;
  }

  .content {
    padding-left: 0;
    padding-right: 0;
    width: 100% !important;
  }
}
