.like-modal-title {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.list-post-likes {
  max-height: 400px;
  overflow-y: auto;
  position: relative;
  top: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.post-like-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start !important;
  align-items: center;
  gap: 8px;
}

.post-like-item-avatar {
  height: 35px;
  width: 35px;
  cursor: pointer;
  border: 1px solid #cccccc;
}
