/* Mặc định cho màn hình lớn hơn 768px */
.left-chat {
  width: 20%;
  position: relative;
  transition:
    transform 0.3s ease,
    width 0.3s ease;
  transform: translateX(0);
  left: 0;
  display: block !important;
}

.right-chat {
  width: 80%;
  display: flex;
  flex-direction: column;
  transition:
    transform 0.3s ease,
    width 0.3s ease;
  right: 0;
  position: relative;
}

// @media (min-width: 991px) {
//   .left-chat.hidden {
//     display: block !important;
//   }
// }
/* Khi màn hình nhỏ hơn 768px */
@media (max-width: 991px) {
  .left-chat {
    transform: translateX(-100%); /* Di chuyển .left-chat ra ngoài màn hình */
    width: 0;
    // position: absolute;
  }

  .right-chat {
    width: 100%;
    // position: absolute; /* Đảm bảo .right-chat dính vào bên phải */
    right: 0; /* Căn chỉnh bên phải */
    transform: translateX(0); /* Đảm bảo không dịch chuyển */
  }

  /* Hiển thị .left-chat */
  .left-chat.visible {
    transform: translateX(0);
    width: 100%;
  }

  /* Ẩn .left-chat */
  .left-chat.hidden {
    transform: translateX(-100%);
    width: 0;
  }

  /* Hiển thị .right-chat */
  .right-chat.visible {
    transform: translateX(0);
    width: 100%;
  }

  /* Ẩn .right-chat */
  .right-chat.hidden {
    transform: translateX(-100%);
    width: 0;
  }
}
