.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #ffffff;
  height: 64px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.15) !important;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

// .navbar-search {
//   width: 300px;
//   margin-left: 10px;
//   border-radius: 20px;
//   height: 40px;
//   background-color: #f5f5f5;
// }

// .navbar-search:hover {
//   background-color: #f5f5f5;
// }

.navbar-search {
  width: 300px;
  margin-left: 10px;
}

.navbar-search .ant-input-affix-wrapper {
  background-color: #f5f5f5 !important;
  border: 1px solid #ddd;
}

.navbar-search .ant-input {
  height: 40px;
  border: none;
  border-radius: 40px !important;
  padding-left: 15px;
  font-size: 16px;
  color: #333;
  background-color: #f5f5f5 !important;
}

.navbar-search .ant-input-group-addon {
  background-color: transparent;
}

.navbar-search .ant-btn {
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f5f5f5; /* Màu nền của nút tìm kiếm, màu xanh lam giống Facebook */
  color: #ddd; /* Màu chữ của nút tìm kiếm */
  border-radius: 40px !important; /* Bo góc bên phải của nút tìm kiếm */
}

.navbar-search .ant-btn:hover {
  background-color: #f5f5f5 !important; /* Màu nền của nút tìm kiếm khi hover */
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.navbar-logo-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-popover-content p {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.profile-popover-content p:hover {
  background-color: #e6e6e6;
}

.notification-item {
  display: flex;
  cursor: pointer;
  padding: 10px;
  width: 400px;
  border-radius: 10px;
  align-items: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.unread {
  background-color: #f0f2f5;
}

.read {
  background-color: white;
}

.notification-item:hover {
  background-color: #e6f7ff;
}

.chat-item {
  display: flex;
  cursor: pointer;
  padding: 10px;
  width: 400px;
  border-radius: 10px;
  align-items: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}
