.friends-page {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  height: 100vh;
}

.friends-page-layout-content {
  display: flex;
  position: relative;
}

.friends-page-content {
  padding: 20px;
}
