.status-update-card {
  align-items: center;
  background-color: #ffffff;
}

.status-update-meta-avatar {
  height: 40px;
  width: 40px;
}

.question-button {
  height: 40px;
  width: 100%;
  background-color: #f9f9f9;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  color: #333333;
}

.question-button:hover {
  background-color: #e6e6e6 !important;
  color: #999999 !important;
}

.custom-modal-create-post .ant-modal-title {
  font-size: 24px;
  text-align: center;
  position: relative;
}

.custom-modal-create-post .ant-modal-title::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #d9d9d9; /* Màu sắc của gạch ngang */
  position: absolute;
  left: 50%;
  bottom: -10px; /* Khoảng cách giữa gạch ngang và tiêu đề */
  transform: translateX(-50%);
}

.custom-modal-create-post .ant-modal-body {
  padding-top: 20px; /* Khoảng cách giữa gạch ngang và nội dung */
}

.custom-modal-create-post .ant-modal-footer {
  display: flex;
  justify-content: center;
  padding: 0;
}

.custom-modal-create-post .full-width-button {
  width: 100%;
  text-align: center;
}
