.status-update-card {
  align-items: center;
}

.status-update-avatar {
  height: 40px;
  width: 40px;
}

.question-button {
  height: 40px;
  width: 80%;
  background-color: #f0f2f5;
  color: #999999;
  //   border: none;
  border-radius: 20px; /* Bo góc */
  font-size: 16px;
  margin-left: 16px;
}
