.status-update-card {
  align-items: center;
}

.status-update-meta-avatar {
  height: 40px;
  width: 40px;
}

.question-button {
  height: 40px;
  width: 100%;
  background-color: #f0f2f5;
  color: #999999;
  border: none;
  border-radius: 20px;
  font-size: 16px;
}

.question-button:hover {
  background-color: #e6e6e6 !important;
  color: #999999 !important;
}
